.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
}

.centerText{
    text-align: center;
}

.background{
    background-color: #0F0F0F;
}


.container{
    margin-top: 20px;
}
        
button{
    margin: 5px;
}
    
