.rose_quartz{
    background-color: #BCABAE;
}

.night{
    background-color: #0F0F0F;
}

.jet{
    background-color: #2D2E2E;
}

.dim_gray{
    background-color: #716969;
}

.white{
    background-color: white;
}